<div class="crossblade-event" data-event="{{eventIndex}}">
    <select class="crossblade-change-control change-event" name="flags.crossblade.soundLayers.{{layerIndex}}.events.{{eventIndex}}">
        {{#each crossbladeEvents}}
            <option value="{{this.key}}" title="{{localize this.description}}" {{#if (eq ../this.[0] @key )}}selected {{/if}}>{{localize this.label}}</option>
        {{/each}}
    </select>
    {{> crossbladeSoundEventSubcontrol (lookup crossbladeEvents this.[0]) layerIndex=layerIndex eventIndex=eventIndex value=this.[1] }}
    <a class="crossblade-click-control delete-event" title="{{localize 'CROSSBLADE.Sound.Event.Remove'}}">
        <i class="fas fa-minus"></i>
    </a>
</div>