{{#*inline "eventPartial"}}
<div class="crossblade-event" data-event="{{eventIndex}}">
    <select class="crossblade-change-control change-event" name="flags.crossblade.soundLayers.{{layerIndex}}.events.{{eventIndex}}">
        {{#each crossbladeEvents}}
            <option value="{{this.key}}" title="{{localize this.description}}" {{#if (eq ../this.[0] @key )}}selected {{/if}}>{{localize this.label}}</option>
        {{/each}}
    </select>
    {{> crossbladeSoundEventSubcontrol (lookup crossbladeEvents this.[0]) layerIndex=layerIndex eventIndex=eventIndex value=this.[1] }}
    <a class="crossblade-click-control delete-event" title="{{localize 'CROSSBLADE.Sound.Event.Remove'}}">
        <i class="fas fa-minus"></i>
    </a>
</div>
{{/inline}}

{{#*inline "soundLayerPartial"}}
    <div class="crossblade-sound-layer" data-layer="{{index}}">
        <h4 class="section-header">
            <span class="header-label">🔊{{ localize "CROSSBLADE.Sound.Layer.Name" }}</span>
            <span class="fill"></span>
            <a class="crossblade-click-control delete-layer" title="{{localize 'CROSSBLADE.Sound.Layer.Remove'}}">
                <i class="fas fa-minus"></i>
            </a>
        </h4>

        <div class="form-group">
            <label>{{ localize "CROSSBLADE.Sound.Layer.SoundSrc" }}</label>
            <div class="form-fields">
                {{filePicker target=(concat "flags.crossblade.soundLayers." index ".src") type="audio"}}
                <input class="audio crossblade-layer-src" type="text" name="flags.crossblade.soundLayers.{{index}}.src" placeholder="path/audio.mp3" value="{{src}}"/>
            </div>
        </div>
        <div class="form-group row">
            <label>{{localize "CROSSBLADE.Sound.Layer.EventTrigger"}}</label>
            <div class="crossblade-events">
                <div class="section-header">
                    <span class="fill"></span>
                    <a class="crossblade-click-control add-event" title="{{localize 'CROSSBLADE.Sound.Event.Add'}}">
                        <i class="fas fa-plus"></i>
                    </a>
                </div>
                {{#each events}}
                    {{> eventPartial layerIndex=../index eventIndex=@index crossbladeEvents=../crossbladeEvents}}
                {{/each}}
            </div>
        </div>
    </div>
{{/inline}}

<form class="crossblade-sound-config" autocomplete="off">
    <h4 class="section-header">
        <a class="header-label crossblade-help" title="{{ localize 'CROSSBLADE.Layers.Help' }}">
            {{ localize "CROSSBLADE.Layers.Name" }}
            <i class="fas fa-question-circle"></i>
        </a>
        <span class="fill"></span>
        <a class="crossblade-click-control add-layer" title="{{localize 'CROSSBLADE.Sound.Layer.Add'}}">
            <i class="fas fa-plus"></i>
        </a>
    </h4>
    <div id="soundLayers">
        {{#each data.flags.crossblade.soundLayers}}
            {{> soundLayerPartial index=@index crossbladeEvents=../crossbladeEvents}}
        {{/each}}
    </div>
    <button type="submit" name="submit">
        <i class="fas fa-file-audio"></i> {{ localize "CROSSBLADE.Layers.Update" }}
    </button>
</form>
