<div class="crossblade-sound-layer" data-layer="{{index}}">
    <h4 class="section-header">
        <span class="header-label">🔊{{ localize "CROSSBLADE.Sound.Layer.Name" }}</span>
        <span class="fill"></span>
        <a class="crossblade-click-control delete-layer" title="{{localize 'CROSSBLADE.Sound.Layer.Remove'}}">
            <i class="fas fa-minus"></i>
        </a>
    </h4>

    <div class="form-group">
        <label>{{ localize "CROSSBLADE.Sound.Layer.SoundSrc" }}</label>
        <div class="form-fields">
            {{filePicker target=(concat "flags.crossblade.soundLayers." index ".src") type="audio"}}
            <input class="audio crossblade-layer-src" type="text" name="flags.crossblade.soundLayers.{{index}}.src" placeholder="path/audio.mp3" value="{{src}}"/>
        </div>
    </div>
    <div class="form-group row">
        <label>{{localize "CROSSBLADE.Sound.Layer.EventTrigger"}}</label>
        <div class="crossblade-events">
            <div class="section-header">
                <span class="fill"></span>
                <a class="crossblade-click-control add-event" title="{{localize 'CROSSBLADE.Sound.Event.Add'}}">
                    <i class="fas fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
</div>
  